.main {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    align-items: center;
}

.user-form {
    width: 50%;
}

#text-input {
    display: flex;
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    min-height: 50px;
    padding: 5px 10px;
    color: #555;
    box-sizing: border-box;
}

.focus-div {
    opacity: 0;
    visibility: hidden;
    padding: 0 10%;
    transition: opacity linear 0.2s, visibility linear 0.2s;
    width: 50%;
    box-sizing: border-box;
}

.focus-div.active {
    opacity: 1;
    visibility: visible;
}